{% extends 'SCAD/base.html' %}

{% load static %}

{% block title %}
    System Control
{% endblock %}

{% block styles %}
<style>
html, body {
    margin: 0!important;
    padding: 0!important;
}

    #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
    }
    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
    }
    </style>
{% endblock %}
 
{% block content %}

	<p>Convert recorded audio to:<br>
	<select id="encodingTypeSelect">
	  <option value="wav">Waveform Audio (.wav)</option>
	  <option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
	  <option value="ogg">Ogg Vorbis (.ogg)</option>
	</select>
	</p>
	<div id="controls">
		<button id="recordButton">Record</button>
		<button id="stopButton" disabled>Stop</button>
	</div>
	<div id="formats"></div>
	<h3>Log</h3>
	<pre id="log"></pre>

	<h3>Recordings</h3>
    <ol id="recordingsList"></ol>
    
    <!-- ---------------------CAMERA-------------- -->

    <!-- <div id="container">
        <video autoplay="true" id="videoElement">
        
        </video>
        <button id="stop"> Stop Video </button>
    </div>> -->
        
    <div id="container">

        <h1><a href="//webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC samples</a>
            <span>MediaRecorder</span></h1>
    
        <p>For more information see the MediaStream Recording API <a
                href="http://w3c.github.io/mediacapture-record/MediaRecorder.html"
                title="W3C MediaStream Recording API Editor's Draft">Editor's&nbsp;Draft</a>.</p>
    
        <video id="gum" playsinline autoplay muted></video>
        <video id="recorded" playsinline loop></video>
    
        <div>
            <button id="start">Start camera</button>
            <button id="record" disabled>Start Recording</button>
            <button id="play" disabled>Play</button>
            <button id="download" disabled>Download</button>
        </div>
    
        <div>
            <h4>Media Stream Constraints options</h4>
            <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
        </div>
    
        <div>
            <span id="errorMsg"></span>
        </div>
    
        <a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/getusermedia/record"
           title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>
    
    </div>
    
    <!-- include adapter for srcObject shim -->
    
    <footer style="margin-top: 20px;"><small id="send-message"></small></footer>
    <script src="https://www.webrtc-experiment.com/common.js"></script>

{% endblock %}

{% block scripts %}
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{% static 'js/main.js'%}" async></script>
<script src="{% static 'js/ga.js' %}"></script>
    
<script src="{% static 'js/WebAudioRecorder.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>



{% endblock %}
